@media all and (max-width:1200px){
    .container{
        padding:0 3rem;
        box-sizing: border-box;
    }
}
@media all and (max-width:990px){
	.head {
	flex-direction: column;
	align-items: center;
}
.contact.contact-1 {
	padding-bottom: 1rem;
}
  	.click-menu{
  		display: block;
  	}
  	.menu {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: end;
	position: relative;
}
.click-close{
	position: absolute;
	display: block;
	color: red;
	top: 3rem;
	right: 3rem;
	z-index: 77777;
}
.menu ul {
	position: absolute;
	flex-direction: column;
	top: 0rem;
	right: 0rem;
	padding: 5rem 14rem;
	background: black;
	z-index: 2222;
	width: 16rem;
}
.menu ul li {
	padding: 1rem;
}
.click-close{
	display: none;
}
.menu .hide-menu{
	display:none ;
}
}
@media all and (max-width:767px){

}
@media all and (max-width:575px){
	.contact ul {
	flex-wrap: wrap;
	justify-content: center;
}
.contact-1 ul li a {
	margin-right: 0;
	padding-bottom: 1rem;
	display: block;
}
.menu ul {
	padding: 5rem 7rem;
}
}
@media all and (max-width:480px){
.menu ul {
	padding: 3rem 5rem;
}
}
